@use 'src/styles/variables.scss' as *;

.NavList {
  display: flex;
  align-items: center;
  gap: 1rem;
  @include resetList;

  &:hover a {
    opacity: 0.6;
  }

  a {
    color: var(--colour-font-primary);
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    transition: 0.3s ease-in-out;
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--colour-primary);
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }
}
