.NavList {
  display: flex;
  gap: 1rem;
  @include reset-list;

  &:hover li {
    opacity: 0.6;
  }

  li {
    color: $colour-white;
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    transition: 0.3s ease-in-out;
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $colour-blue;
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }
}