@use 'src/styles/variables.scss' as *;

.Experience {
  padding-left: 0.5rem;

  .item {
    position: relative;
    border-left: 2px solid var(--colour-font-secondary);
    padding-left: 3rem;
    padding-bottom: 2rem;

    .icon {
      width: 2rem;
      height: 2rem;
      background-color: var(--colour-primary);
      display: block;
      position: absolute;
      left: -1rem;
      top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--colour-font-primary);

      svg {
        font-size: 1.25rem;
      }
    }

    .content {
      padding: 1rem;

      .meta {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        .company {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 0.9rem;
        }

        .location {
          color: var(--colour-font-secondary);
          display: flex;
          align-items: center;
          gap: 0.25rem;
          font-size: 0.9rem;
        }
      }

      h2 {
        font-weight: 600;
        font-size: 22px;
        margin-top: 32px;
      }

      p {
        margin: 0;
        font-weight: 300;
      }

      h3 {
        font-weight: 600;
        margin: 0 0 0.75rem;
      }

      .subheadingChip {
        margin-top: 1.5rem;
      }

      ul {
        @include resetList;
        margin-top: 1rem;

        li {
          margin-bottom: 0.5rem;
          font-weight: 300;
          display: grid;

          span {
            font-weight: 500;
            margin-bottom: 0.25rem;

            &::before {
              content: '';
              display: inline-block;
              width: 0.5rem;
              height: 0.5rem;
              background-color: var(--colour-primary);
              margin-right: 0.5rem;
              vertical-align: baseline;
            }
          }

          p {
            color: var(--colour-font-secondary);
            margin-left: 1rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media (max-width: $breakpoint-sm) {
    .item .content {
      padding-left: 0;

      .meta {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
