@use "src/styles/variables.scss" as *;

.About {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 2.5rem;

  .text {
    border-right: 1.75px solid var(--colour-primary);
    padding-right: 2rem;
    text-align: justify;

    p {
      span {
        font-weight: 300;
        color: var(--colour-font-secondary);
        white-space: pre-wrap;
        font-family: $font-heading;
        font-size: 0.9rem;
        letter-spacing: -0.5px;

        span {
          font-weight: 600;
        }
      }

      a {
        font-weight: 500;
        color: var(--colour-primary);
      }
    }
  }

  .extra {
    .block {
      margin-bottom: 2rem;

      .stats {
        .stat {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          span {
            margin: 0;
            font-size: 1.75rem;
            letter-spacing: 1px;
            margin-right: 1rem;
          }

          p {
            font-size: 0.9rem;
            margin: 0;
            color: var(--colour-font-secondary);
          }
        }
      }

      .languages {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 0.25rem;
          display: flex;
          align-items: center;
          white-space: pre;

          i {
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--colour-primary);
            display: block;
            margin-right: 0.5rem;
          }

          span {
            font-weight: 300;
            color: var(--colour-font-secondary);
          }
        }
      }
    }
  }

  .text> :first-child,
  .block> :first-child {
    margin-bottom: 1.5rem;
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;

    .text {
      border-bottom: 1.75px solid var(--colour-primary);
      border-right: none;
      padding-right: 0;
    }

    .extra {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .stats p {
        text-align: left;
      }
    }
  }
}