@use "src/styles/variables.scss" as *;

.Skills {
  .search {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: block;
    border: 1px solid var(--colour-primary);
    position: relative;
    padding-right: 1rem;

    input {
      @include resetInput;
      color: var(--colour-font-primary);
      text-align: center;
      width: 100%;
      display: block;
      padding: 1rem;
    }

    .clear {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.5rem;
      cursor: pointer;
      font-size: 1.25rem
    }
  }

  .list {
    @include resetList;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    padding-top: 2rem;
  }

  .skill {
    display: flex;
    background-color: var(--colour-background-secondary);
    padding: 0.75rem 1.5rem;
    align-items: center;
    transition: 0.3s ease-out;
    gap: 0.5rem;
    cursor: default;
    align-self: flex-start;

    p {
      font-size: 1rem;
      margin: 0;
      letter-spacing: 0.25px;
      font-weight: 500;
    }

    img {
      // width: 1.25rem;
      // height: 1.25rem;
      fill: var(--colour-primary);
    }

    &:hover {
      transform: scale(1.075);
      opacity: 1;
    }

    &.fade {
      opacity: 0.5;
    }
  }
}