.Landing {
  height: 100vh;
  width: 100vw;
  background-color: $colour-black;

  .grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;

    .cookieBanner {
      display: block !important;
    }

    .image {
      width: 100%;
      display: flex;

      img {
        object-fit: contain;
        width: 100%;
      }
    }

    .content {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .name {
        font-size: 2.25rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }

      .description {
        margin: 0;
      }

      .info {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;

        p {
          color: $colour-lightgrey;
          margin: 0;
          margin-left: 1rem;
        }
      }

      .buttons {
        margin-top: 2rem;
        display: flex;
        align-items: center;

        button:first-child {
          margin-right: 1.5rem;
        }
      }

      .social {
        margin-top: 1.5rem;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    height: unset;

    .grid {
      grid-template-columns: 1fr;
      padding-top: 6rem;

      .image {
        grid-row: 2/3;

        img {
          height: unset;
        }
      }

      .content {
        align-items: center;
        text-align: center;
      }
    }
  }
}