@use "src/styles/variables.scss" as *;

.Landing {
  height: 100vh;
  width: 100vw;
  background-color: var(--colour-background-primary);
  background-size: cover;

  .grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 75px;

    .cookieBanner {
      display: block !important;
    }

    .image {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        object-fit: contain;
        width: 100%;
        object-position: center;
        height: 100%;
        max-height: 65vh;
        max-width: 65vh;
      }
    }

    .content {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .name {
        font-size: 2.25rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      .tagline {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }

      .description {
        margin: 0;
      }

      .info {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;

        p {
          color: var(--colour-font-secondary);
          margin: 0;
          margin-left: 1rem;
        }
      }

      .buttons {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
          margin-right: 0.5rem;
          font-size: 1.25rem;
        }
      }

      .social {
        margin-top: 1.5rem;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    height: unset;

    .grid {
      grid-template-columns: 1fr;
      padding-top: 6rem;
      padding-bottom: 2rem;

      .image {
        grid-row: 2/3;

        img {
          height: unset;
        }
      }

      .content {
        align-items: center;
        text-align: center;
      }
    }
  }
}