.Social {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 1rem;

  a {
    .icon {
      color: $colour-white;
      transition: 0.2s ease-in-out;
      font-size: 1.1rem;
    }

    &:hover .icon {
      color: $colour-blue;
    }

    &.mail {
      background-color: $colour-grey;
      border: 1px solid transparent;
      padding: 0.5rem 0.75rem;

      .icon {
        transform: rotate(-45deg);
      }

      &:hover {
        border-color: $colour-blue;

        .icon {
          color: $colour-white;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }
}