@use "src/styles/variables.scss" as *;

.Social {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    display: flex;

    svg {
      color: var(--colour-font-primary);
      transition: 0.2s ease-in-out;
      font-size: 1.1rem;
    }

    &:hover svg {
      color: var(--colour-primary);
    }

    &.mail {
      background-color: var(--colour-background-secondary);
      border: 1px solid transparent;
      width: 2.25rem;
      height: 2.25rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border-color: var(--colour-primary);

        svg {
          color: var(--colour-font-primary);
        }
      }
    }
  }
}