@use "src/styles/variables.scss" as *;

.Tooltip {
  border: 1px solid var(--colour-primary);

  .arrow {
    border-right: 1px solid var(--colour-primary);
    border-bottom: 1px solid var(--colour-primary);
  }
}