@import "../../styles/variables.scss";

.project {
    width: 30%;
    background-color: $black;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;

    .imageContainer {
        width: 100%;

        >div {
            >div {
                display: none !important;
            }
        }

        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
            object-position: center center;
        }
    }

    .name {
        font-size: 1.25rem;
        margin: 1rem 0 0.25rem 0;
        transition: 0.3s ease-in-out;
    }

    .brief {
        font-size: 0.8rem;
        color: $lightgrey;
        margin: 0;
        font-family: $headingfont;
    }


    &:hover {
        .name {
            color: $blue;
        }
    }

    @media screen and (max-width:991px) {
        width: 45%;
    }

    @media screen and (max-width:576px) {
        width: 95%;
        text-align: center;
    }
}