@import "../../styles/variables.scss";

.landing {
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        text-align: center;
        position: relative;
        z-index: 1;

        h1 {
            font-family: $mainfont;
            font-weight: 600;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            margin: 0;
            font-family: $headingfont;
            color: $blue;
            font-size: 1.1rem;
            font-weight: 500;
        }
    }

    .logo {
        position: absolute;
        width: 25vw;
        z-index: 0;
        opacity: 0.05;
    }

    .buttons {
        display: flex;
        column-gap: 1.5rem;
        margin-top: 2rem;
        justify-content: center;
    }
}

.details {
    display: flex;
    column-gap: 3rem;
    align-items: flex-start;


    .text {
        width: 50%;
        box-sizing: border-box;

        .overview {
            margin-bottom: 1.5rem;

            .description {
                margin: 0;
            }
        }

        .features {

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    margin: 0.2rem 0;

                    i {
                        width: 0.5rem;
                        height: 0.5rem;
                        background-color: #0061f0;
                        display: block;
                        margin-right: 0.5rem;
                    }
                }
            }
        }





    }

    .info {
        width: 50%;
        box-sizing: border-box;
        background-color: $black;
        padding: 1rem 1.5rem;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $lightgrey;
            padding: 1rem;

            h5 {
                margin: 0;
                font-family: $mainfont;
                font-size: 1.1rem;
                font-weight: 400;
            }

            p {
                color: $lightgrey;
                margin: 0;
            }

            .tools {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: 0.5rem;
                flex-wrap: wrap;
                padding-left: 3rem;
                justify-content: flex-end;

                li {
                    color: $lightgrey;
                    transition: 0.3s ease-in-out;
                    font-size: 1.1rem;

                    &:hover {
                        color: $white;
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .imageContainer {
        width: 100%;

        >div {
            >div {
                display: none !important;
            }
        }

        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }

}

@media screen and (max-width:768px) {

    .details {
        flex-direction: column;
        row-gap: 3rem;

        .info {
            width: 100%;

        }

        .text {
            width: 100%;
            text-align: center;
        }
    }


}