:root {
  --colour-background-primary: #151618;
  --colour-background-secondary: #242629;
  --colour-font-primary: #ffffff;
  --colour-font-secondary: #c5cdd3;
}

[data-theme="light"] {
  --colour-background-primary: #F2F2F2;
  --colour-background-secondary: #E0E0E0;
  --colour-font-primary: #151618;
  --colour-font-secondary: #242629;
}

* {
  box-sizing: border-box;
}

html {
  font-display: swap;
  scroll-behavior: smooth;
}

body {
  background-color: $colour-background-primary;
  font-family: $font-body;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
  color: $colour-font-primary;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;

  &.noScroll {
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 6px;

  &-track {
    background: $colour-background-primary;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &-thumb {
    background: $colour-blue;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;

    &:hover {
      background: $colour-font-primary;
    }
  }
}