@use "./theme.scss" as *;
@use "./variables.scss" as *;

* {
  box-sizing: border-box;
}

html {
  font-display: swap;
  scroll-behavior: smooth;
}

body {
  background-color: var(--colour-background-primary);
  font-family: $font-body;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
  color: var(--colour-font-primary);
  transition: 0.3s ease-out;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;

  &.noScroll {
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 6px;

  &-track {
    background: var(--colour-background-primary);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &-thumb {
    background: var(--colour-primary);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;

    &:hover {
      background: var(--colour-font-primary);
    }
  }
}