:root {
  --colour-primary: #0061f0;

  // Dark Mode (default)
  --colour-background-primary: #1f2123;
  --colour-background-secondary: #151618;
  --colour-font-primary: #ffffff;
  --colour-font-secondary: #c5cdd3;

  @media screen and (prefers-color-scheme: light) {
    --colour-background-primary: #ececec;
    --colour-background-secondary: #d7d7d7;
    --colour-font-primary: #1f2123;
    --colour-font-secondary: #151618;
  }
}

[data-theme='light'] {
  --colour-background-primary: #ececec;
  --colour-background-secondary: #d7d7d7;
  --colour-font-primary: #1f2123;
  --colour-font-secondary: #151618;
}

[data-theme='dark'] {
  --colour-background-primary: #1f2123;
  --colour-background-secondary: #151618;
  --colour-font-primary: #ffffff;
  --colour-font-secondary: #c5cdd3;
}
