// FONTS
$font-heading: var(--font-family-sourceCodePro),
Tahoma,
Geneva,
sans-serif;
$font-body: var(--font-family-sourceSansPro),
Tahoma,
Geneva,
sans-serif;

// COLOURS
$colour-blue: #0061f0;
$colour-black: #151618;
$colour-grey: #242629;
$colour-lightgrey: #c5cdd3;
$colour-white: #ffffff;

$breakpoint-xs: 576px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1450px;