// FONTS
$font-heading: var(--font-family-sourceCodePro),
Tahoma,
Geneva,
sans-serif;
$font-body: var(--font-family-sourceSansPro),
Tahoma,
Geneva,
sans-serif;

// COLOURS
$colour-blue: #0061f0;

$breakpoint-xs: 576px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1450px;

$colour-accent-blue: #0061f0;

$colour-background-primary: var(--colour-background-primary);
$colour-background-secondary: var(--colour-background-secondary);
$colour-font-primary: var(--colour-font-primary);
$colour-font-secondary: var(--colour-font-secondary);
$colour-font-on-colour: #ffffff