@use "src/styles/variables.scss" as *;

.Container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2rem;
  height: 100%;
  width: 100%;

  @media (max-width: $breakpoint-xl) {
    max-width: 1350px;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: 1140px;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: 1140px;
  }

  @media (max-width: $breakpoint-md) {
    max-width: 960px;
  }


  @media (max-width: $breakpoint-sm) {
    max-width: 720px;
  }

  @media (max-width: $breakpoint-xs) {
    padding: 0 1rem;
    max-width: unset;
  }
}