@use 'src/styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 500;

  .name {
    color: var(--colour-font-primary);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: pre;
    transition: 0.3s ease-in-out;

    p {
      margin: 0;
    }

    span {
      font-weight: 600;
      margin-left: 1rem;
    }
  }
}
