@import "../../styles//variables.scss";

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact {
        display: flex;
        margin: 2rem 0;

        a {
            display: flex;
            background-color: $grey;
            padding: 1.25rem 3rem;
            align-items: center;
            transition: 0.3s ease-in-out;
            // color: $white;

            i {
                font-size: 1.25rem;
                color: $blue;
                margin-right: 0.5rem;
            }
        }

        >*+* {
            margin-left: 1rem;
        }
    }

    button {
        background-color: $blue;
        padding: 0.5rem 1.25rem;
        color: $white;
        font-family: $mainfont;
        font-size: 0.9rem;
    }


    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            display: flex;
            padding: 0.75rem 1.5rem;
            align-items: center;
            transition: 0.3s ease-in-out;
            font-size: 0.9rem;
            margin: 0.5rem;

            i {
                font-size: 1.25rem;
                color: $blue;
                margin-right: 0.5rem;
            }
        }
    }

    &.footer {
        .contact a {
            background-color: $black;
        }
    }

    @media screen and (max-width:768px) {
        .contact {
            flex-direction: column;
            align-items: center;

            >*+* {
                margin-left: 0;
                margin-top: 1rem;
            }
        }
    }
}