@use "src/styles/variables.scss" as *;

.Section {
  padding: 8rem 0;
  box-sizing: border-box;
  width: 100%;

  .heading {
    text-align: center;
    padding-bottom: 5rem;
    text-align: center;

    img {
      width: 2rem;
    }

    h1 {
      color: var(--colour-primary);
      letter-spacing: 1px;
      margin: 0;
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 0.5rem;
      font-family: $font-heading;
    }

    p {
      margin: 0;
      margin-top: 0.75rem;
      color: var(--colour-font-primary);
      font-size: 1rem;
      font-weight: 400;
    }
  }

  &.light {
    background-color: var(--colour-background-secondary);
  }
}