@import "../../styles/variables.scss";

.section {
    padding: 8rem 0;

    &.light {
        background-color: $grey;

        .section__skew__inner {
            background-color: $black;
        }
    }

    .skew {
        width: 100%;
        height: 10rem;
        background-color: transparent;
        position: relative;
    }



    .heading {
        text-align: center;
        padding-bottom: 3rem;
        text-align: center;

        img {
            width: 2rem;
        }

        h1 {
            color: $blue;
            letter-spacing: 1px;
            margin: 0;
            font-size: 2.5rem;
            font-weight: 600;
        }

        @media (max-width: 576px) {
            padding-top: 0;
        }
    }

    &.simple {
        .heading {
            padding: 0;
        }
    }
}