@use "src/styles/variables.scss" as *;

.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  .mail {
    display: flex;
    background-color: var(--colour-background-primary);
    padding: 1.25rem 3rem;
    align-items: center;
    transition: 0.3s ease-in-out;
    gap: 1rem;

    svg {
      font-size: 1.25rem;
      color: var(--colour-primary);
      transition: 0.3s ease-in-out;
    }

    &:hover {
      background-color: var(--colour-primary);

      svg {
        color: var(--colour-font-primary);
      }
    }
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    a {
      display: flex;
      align-items: center;
      transition: 0.3s ease-in-out;
      font-size: 0.9rem;

      svg {
        font-size: 1.5rem;
        color: var(--colour-primary);
        margin-right: 0.5rem;
      }

      img {
        margin-right: 0.5rem;
      }
    }
  }

}