@use "src/styles/variables.scss" as *;

.ThemeToggle {
  @include reset-button;
  // margin-left: 2rem;
  color: var(--colour-font-primary);
  transition: 0.3s ease-in-out;

  &:hover {
    color: var(--colour-primary);
  }
}