$blue: #0061f0;
// $blue: #0060f046;
$black: #151618;
$grey: #242629;
$lightgrey: #99a1a6;
$white: #ffffff;
$headingfont: "Source Code Pro",
Tahoma,
Geneva,
sans-serif;
$mainfont: "Source Sans Pro",
Tahoma,
Geneva,
sans-serif;