@use "src/styles/variables.scss" as *;

.MobileNav {
  .mobileButton {
    @include reset-button;
    border: 1.5px solid transparent;
    transition: 0.3s ease;
    display: none;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--colour-background-secondary);

    svg {
      font-size: 1.5rem;
      color: var(--colour-primary);
      transition: 0.3s ease;
    }

    &:hover {
      border-color: var(--colour-primary);

      svg {
        color: var(--colour-font-primary);
      }
    }
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--colour-background-secondary), 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
  }

  .drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 1000;
    display: flex;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;
    max-width: 300px;

    .menu {
      width: 100%;
      background-color: var(--colour-background-primary);
      border-left: 2px solid var(--colour-primary);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      a {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }


      .social {
        position: absolute;
        bottom: 2rem;

        a {
          font-size: 0.9rem;
        }
      }

      .top {
        position: absolute;
        top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        width: 100%;

        .closeButton {
          @include reset-button;
          font-size: 1.5rem;
          color: var(--colour-font-primary);
        }
      }
    }
  }

  &.open {
    .drawer {
      width: 400px;
    }

    .overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  @media (max-width: $breakpoint-md) {
    .mobileButton {
      display: flex;
    }
  }
}