@use 'src/styles/variables.scss' as *;

.Button {
  @include reset-button;
  background-color: var(--colour-primary);
  border: 2px solid var(--colour-primary);
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.25rem;
  color: var(--colour-font-primary);
  font-size: 0.8rem;
  font-weight: 500;
  font-family: $font-heading;

  &::before,
  &::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  i {
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  &:hover {
    background-color: transparent;
    transition: 0.3s ease;
    color: var(--colour-primary);
  }

  &:focus {
    outline: none;
  }

  &.outlined {
    padding: 0.7rem 1.25rem;
    background-color: transparent;
    border-color: transparent;
    color: var(--colour-font-primary);

    &::before,
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &::before {
      border-top: 2px solid var(--colour-primary);
      border-bottom: 2px solid var(--colour-primary);
      transform: scale3d(0, 1, 1);
    }

    &::after {
      border-left: 2px solid var(--colour-primary);
      border-right: 2px solid var(--colour-primary);
      transform: scale3d(1, 0, 1); // Shrink only height
    }

    &:hover::before,
    &:hover::after {
      transform: scale3d(1, 1, 1); // Show full-size
      transition: transform 0.4s ease-in-out;
    }
  }
}
